<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    {{#if error}}
    <div class="toast error">
        <p>{{error}}</p>
    </div>
    {{/if}}
    {{#if success}}
    <div class="toast success">
        <p>{{success}}</p>
    </div>
    {{/if}}
    
    <div class="wrapper">
        <div class="title-text">
            <div class="title">Forgot Password</div>
        </div>
        <div class="form-container">
            <div class="form-inner">
                <form action="/forgot-password" method="POST">
                    <div class="field">
                        <input type="text" name="email" placeholder="Email Address" required>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Send Reset Link">
                    </div>
                    <div class="signup-link">Remembered your password? <a href="/login">Login now</a></div>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/login.js"></script>
</body>
</html>
